<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Kosmix Entity Widget</title>
</head>
<body>
  <div align="center">
    <div style="width: 600px">
      <h2>Entity Extraction Widget</h2>
      <p>
        This is a simple widget that extracts entities (i.e. proper nouns) from the content of the webpage where the embed code is placed.  It is powered by the <a href="http://www.kosmix.com/corp/developer">Kosmix Annotation API</a>.  To use, simply copy and paste the embed code on the webpage of your choice.
      </p>
      <h2>Some arbitrary text on your page</h2>
      <p>The 2009 Lamar Hunt U.S. Open Cup Final was played on September 2, 2009, at Robert F. Kennedy Memorial Stadium in Washington, D.C. The match determined the winner of the 2009 edition of the Lamar Hunt U.S. Open Cup, a tournament open to amateur and professional soccer teams affiliated with the United States Soccer Federation. This was the 96th edition of the oldest competition in United States soccer. The match was won by Seattle Sounders FC, who defeated D.C. United 2–1. Seattle became the second expansion team in Major League Soccer history to win the tournament in their inaugural season. D.C. United entered the tournament as the competition's defending champions. Both Sounders FC and D.C. United had to play through two qualification rounds for MLS teams before entering the official tournament. Prior to the final, there was a public dispute between the owners of the two clubs regarding the selection of D.C. United to host it at their home field, RFK Stadium. As the tournament champions, Sounders FC earned a berth in the preliminary round of the 2010–11 CONCACAF Champions League. The club also received a $100,000 cash prize, while D.C. United received $50,000 as the runner-up.</p>
      <h2>A snazzy list of entities from this page</h2>
      <%= get_embed_code %>
      <h2>Embed on any webpage (simply copy and paste)</h2>
      <textarea style="height:100px;width:300px;">
      <%= get_embed_code %>
      </textarea>
    </div>
  </div>
</body>
</html>
