<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Kosmix Entity Widget</title>
</head>
<body>
  <div align="center">
    <div style="width: 600px">
      <h2>Some arbitrary text on your page</h2>
      <p>"Hereafter" tells the story of three people who are touched by death in different ways. George (Matt Damon) is a blue-collar American who has a special connection to the afterlife. On the other side of the world, Marie (CÈcile De France), a French journalist, has a near-death experience that shakes her reality. And when Marcus, a London schoolboy, loses the person closest to him, he desperately needs answers. Each on a path in search of the truth, their lives will intersect, forever changed by what they believe might-or must-exist in the hereafter.</p>
      <h2>A snazzy list of entities from this page</h2>
      <%= get_embed_code %>
      <h2>Embed on any webpage (simply copy and paste)</h2>
      <textarea style="height:200px;width:300px;">
      <%= get_embed_code %>
      </textarea>
    </div>
  </div>
</body>
</html>
